body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* white */
    color: #111827; /* text-dark */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff; /* white */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #676ef1; /* primary-color */
    width: 100%;
    box-sizing: border-box;
    color: #111827; /* text-dark */
    background-color: #ffffff; /* white */
}

input[type="file"] {
    cursor: pointer;
}

button {
    padding: 10px;
    border: none;
    background-color: #676ef1; /* primary-color */
    color: #ffffff; /* white */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0b0358; /* primary-color-dark */
}

input:focus,
button:focus {
    outline: none;
    border-color: #676ef1; /* primary-color */
    box-shadow: 0px 0px 5px rgba(103, 110, 241, 0.5);
}
