:root {
    --primary-color: #676ef1;
    --primary-color-dark: #0b0358;
    --text-dark: #111827;
    --text-light: #9aa9c6;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav_logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.nav_logo span {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color-dark);
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 20px; /* Add some gap between list items */
}

.link {
    margin-right: 20px; /* Add margin to the list items */
}

.link a {
    text-decoration: none;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

.header {
    padding: 0 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #676ef1;
}

.content h1 span {
    font-weight: 500;
    font-size: 3rem;
    color: black;
}

.content p {
    margin-bottom: 2rem;
    color: #5e5d6c;
    font-size: 18px;
    line-height: 1.75rem;
    font-weight: 200;
}

.image {
    position: relative;
    text-align: center;
    isolation: isolate;
}

.image_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 450px;
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: -1;
}

.image img {
    width: 200%;
    max-width: 680px;
    margin-left: -45%;
}

.image_content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.image_content_1 {
    transform: translate(calc(-50% - 12rem), calc(-50% - 8rem));
}

.image_content_1 span {
    padding: 10px 12px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: white;
    border-radius: 100%;
}

.image_content_1 h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.image_content_1 p {
    color: var(--text-light);
}

.image_content_2 {
    transform: translate(calc(-50% + 8rem), calc(-50% + 10rem));
}

.image_content_2 ul {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.image_content_2 li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    color: var(--text-light);
}

.image_content_2 span {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.Login {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.b {
    width: 10rem;
    height: 6rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 1rem;
    margin: 0 1rem;
}

.b:hover {
    cursor: pointer;
    background-color: var(--primary-color-dark);
}
